<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417132857510-7su0c1c12n875bg3df14nv2p96c65vhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417132857510-7su0c1c12n875bg3df14nv2p96c65vhs</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFmY6Bp6wVEVs1Q2GR-12wlUPAj9Ufw4</string>
	<key>GCM_SENDER_ID</key>
	<string>417132857510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darya.Vipassana</string>
	<key>PROJECT_ID</key>
	<string>meditation-85a97</string>
	<key>STORAGE_BUCKET</key>
	<string>meditation-85a97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417132857510:ios:a20367e78cee13c7</string>
	<key>DATABASE_URL</key>
	<string>https://meditation-85a97.firebaseio.com</string>
</dict>
</plist>